<div class="groups-container">
  <nav class="nav-container fixed">
    <div class="nav transactions-nav">
      <%= link_to groups_path do %>
        <i class="fa-light fa-backward back" style="font-family: FontAwesome;"></i>
      <% end  %>
      <h1 class="register text-font bold">Create new Transaction</h1>
    </div>

  </nav>

  <%= form_with model: @operation, html: {class: "new-group groups"}, method: :post do |f| %>
    <div class="field">
      <%= f.text_field :name, autofocus: true, placeholder: "Name", class: 'input' %>
    </div>

    <div class="field">
      <%= f.text_field :amount,  placeholder: "Amount", class: 'input' %>
    </div>

    <div class="checks check-groups">
      <%= f.label :groups %>
      <%= f.collection_check_boxes(:group_ids, @client.groups, :id, :name) %>
    </div>

    <button type="submit" class="save-group">Save</button>

  <% end %>

</div>
